<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%)">
  <%= image_tag "cocktail.jpg", height: 80 % %>
  <div class="banner-content">
    <h1> --- Le Django bar --- </h1>
    <h3> Make your cocktail with fun ! </h3>
    <a class="btn btn-primary "> Add a cocktail</a>
  </div>
  <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <ul class="list-group">
        <% @cocktails.each do |cocktail| %>
          <li class="list-group-item">
            <%= link_to cocktail.name, cocktail_path(cocktail) %>
            <%= link_to "delete", cocktail_path(cocktail), method: :delete, data: { confirm: "Delete #{cocktail.name}?" } %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
</div>




