<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill unless cocktail.photo.blank? %>');">
  <div class="card-category">Cocktail</div>
  <div class="card-description">
    <h2><%= cocktail.name %></h2>
  </div>
  <a class="card-link" href="<%= cocktail_path(cocktail) %>" ></a>
</div>


